global-weight-background-color = #0DB09C
global-light-background-color = #0DA2C2

highlight-text-color = #4f71dc

weight-background-color = #0daf9c
weight-text-color = white
weight-border-color = #0daf9c

light-background-color = white
light-text-color = #0daf9c
light-border-color = #0daf9c

hover-background-color = #0daf9c
hover-text-color = white
hover-border-color = #0daf9c
hover-box-shadow = #00b3b3

active-background-color = #0b9182
active-text-color = white
active-border-color = #0b9182

hover-other-background-color = #f1f8ff
hover-other-text-color = #606266

normal-box-shadow = unset

disabled-background-color = #F5F7FA
disabled-text-color = #BBC2D0
disabled-border-color = #F5F7FA
